/* This is the professional portfolio css file.
   
   Note: This css style sheet is written and tested using chrome dev tools mobile emulator. It is not supported by Samsung Galaxy S8+ phone and perhaps other mobile devicses as well.

   Written by Alex Chalyy on 2/4/2019. */
	 
/*	Styling for name header inside header.	*/

#name
{
	background: teal;
	color: white;
	padding: 10%;
	width: 120%;
	margin-bottom: -13%;
}

/*	This makes sure that the header links are centered and are 960px wide. */

#c2
{
	width: 960px;
	text-align: center;
	padding: 0%;
}

/*	This sets the background image.	*/

body {
	background-image: url("../images/handmadepaper.png");
	z-index: 1;
	margin-bottom: 60px;
}

/* This sets the background and z-index of the header. */

.row	{
	z-index: 2;
	background: white;
	border: #cccccc;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

/* This sets the background for footer. */

.footer	{
	text-align: center;
	color: white;
	background: #666666;
	width: 101%;
	position: fixed;
	bottom: 0;
	z-index: 10;
}

/* This styles the footer container. */

#c3	{
	margin-bottom: -0.7%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* This sets the color of the text inside the footer.	*/

#copyright	{
	color: white;
}

/* This styles the top teal border of the footer.	*/

.teal-border	{
	border-top: 4px #4aaaa5 solid;
}

/*	This styles the main body of "About" page. */

#c4	{
	background: white;
	border: #cccccc;
	text-align: center;
	width: 960px;
	margin-top: 2%;
	padding-top: 0.5%;
}

/*	This styles the "About Me" of the main page.	*/

#me	{
	color: teal;
	text-align: left;
}

/*	This styles the profile pic.	*/

#image	{
	text-align: left;
}

/*	This styles the main body of "Contact" page. */

#c5	{
	background: white;
	border: #cccccc;
	text-align: center;
	width: 960px;
	margin-top: 2%;
	padding-top: 0.5%;
	padding-bottom: 1%;
}

/* This styles the main box text. */

#p1, #p2, #p3	{
	text-align: left;
	font-size: 90%;
} 

/*	This styles the portfolio text box. */

#c6	{
	background: white;
	border: #cccccc;
	text-align: center;
	width: 960px;
	margin-top: 2%;
	padding-top: 0.5%;
	padding-bottom: 1%;
}

/*	This styles the image thumbnail link on portfolio page. */

#image_1 , #image_2, #image_3, #image_4, #image_5, #image_6, #image_7	{
	width: 100%;
}

/*	This styles several textboxes on the portfolio thumbnail image links. */

.hangman	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: teal;
	color: white;
	width: 100%;
	margin-top: 30%;
	padding-top: 5%;
	padding-bottom: 7%;
}

/* Container holding the first image of portfolio page.*/

.image_container_1{
	position: relative;
	text-align: center;
	color: white;
	width: 15%;
	float: left;
  }

/* All other image containers on portfolio page. */

  .image_container_2,
  .image_container_3,
  .image_container_4,
  .image_container_5 {
	position: relative;
	text-align: center;
	color: white;
	width: 15%;
	float: left;
	margin-left: 6.2%;
  }

/* class that holds text box on rutgers thumbnail. */

.Rutgers	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: teal;
	color: white;
	width: 100%;
	margin-top: 30%;
	padding-top: 5%;
	padding-bottom: 10%;
	font-size: 80%;
}

/* class that holds text box on train scheduller thumbnail. */

.rock	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: teal;
	color: white;
	width: 100%;
	margin-top: 30%;
	padding-top: 5%;
	padding-bottom: 14%;
	font-size: 80%;
}

/*	This is additional styling to the added project. */

.dog	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: teal;
	color: white;
	width: 100%;
	margin-top: 30%;
	padding-top: 5%;
	padding-bottom: 14%;
	font-size: 80%;
}

.image_container_7 {
	position: relative;
	text-align: center;
	color: white;
	width: 15%;
	float: left;
}

.image_container_9	{
	position: relative;
	text-align: center;
	color: white;
	width: 15%;
	float: left;
	margin-left: 6.2%;
}

/*	This spaces some rows */

#secondrow {
	margin-top: 5%;
}

#firstrow	{
	margin-top: 2%;
}

#p1	{
	width: 50%;
	float: left;
}

#td	{
	float: left;
	color: teal;
	margin-left: -100%;
}

#b	{
	float: right;
	color: teal;
}

.btn-info	{
	margin: 5%;
}

.no-gutters	{
	margin-left: 1%;
}	

#o	{
	color: teal;
}

#l	{
	float: right;
	color: teal;
	margin-right: -5%;
}

#got	{
	margin-left: 55%;
}