/* This is the professional portfolio css file.

	 Written by Alex Chalyy on 2/1/2019. */
	 
/*	Styling for name header inside header.	*/

#name
{
	background: teal;
	color: white;
}

#c2
{
	width: 960px;
	text-align: center;
}
